{% load staticfiles %}
<head>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"
            integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
            crossorigin="anonymous"></script>
    <script src="http://www.outsharked.com/scripts/jquery.imagemapster.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="{% static 'laximo/css/style.css' %}"/>
</head>

<body>

{% block content %}
{% endblock %}

{% block scripts_extra %}
    <script src="{% static 'laximo/js/unit_map.js' %}"></script>
    <script src="{% static 'laximo/js/wizard.js' %}"></script>
    <script>
        $('#wizard-form').wizardForm();
        $('#unit-map-container').initUnitMap();
    </script>
{% endblock %}
</body>