{% extends 'laximo/base.html' %}
{% block content %}
    <table>
        <tr>
            <td>{{ object.code }}</td>
        </tr>
        <tr>
            <td>{{ object.icon }}</td>
        </tr>
        <tr>
            <td>{{ object.brand }}</td>
        </tr>
        <tr>
            <td>{{ object.name }}</td>
        </tr>
        <tr>
            <td>{{ object.version }}</td>
        </tr>
        <tr>
            <td>{{ object.features }}</td>
        </tr>
        <tr>
            <td>{{ object.extensions }}</td>
        </tr>
        <tr>
            <td>{{ object.vinexample }}</td>
        </tr>
        <tr>
            <td>{{ object.frameexample }}</td>
        </tr>
    </table>

    {% include 'laximo/forms/catalog_formset.html' with catalog=object form=form %}

{% endblock %}