{% extends 'laximo/base.html' %}
{% load laximo_tags %}
{% block content %}
    <table>
        {% for item in object.items %}
            <tr>
                <td>
                    <img alt="{{ item.name }}"
                         src="{% catalog_imageurl item %}"/>
                </td>
                <td>
                    {% if item.is_wizard_available %}
                        <a href="{% url 'laximo:catalog_info' item.code %}?wizard=1">
                    {% else %}
                        <a href="{% url 'laximo:catalog_info' item.code %}">
                    {% endif %}
                    {{ item.name }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}