{% extends 'laximo/base.html' %}
{% load laximo_tags %}

{% block content %}
    <h2>
        Автомобиль {{ object_map.CatalogInfo.name }} {{ object_map.Vehicle.name }}</h2>

    <a href="{% url 'laximo:vehicle_quickgroups' object_map.CatalogInfo.code object_map.Vehicle.vehicleid %}?ssd={{ current_ssd }}">
        Поиск по группам
    </a>

    <table>
        {% with catalog_code=object_map.CatalogInfo.code vehicle_id=object_map.Vehicle.vehicleid %}
        <tr style="vertical-align: top">
            <td>
                {% for unit in object %}
                    <div style="float: left; margin: 0 10px 10px 0; max-width: 225px; min-height: 250px; max-height: 250px; overflow: hidden">
                        <a href="{% details_or_filter_url catalog_code vehicle_id unit.unitid unit.filter %}?ssd={{ unit.ssd }}&category_id={{ current_category }}">
                            {{ unit.code }} - {{ unit.name }}
                            {% if unit.filter %}
                                (!)
                            {% endif %}
                            <br/>
                            <div class="unit-image">
                            <img alt="{{ unit.name }}"
                                 src="{% unit_imageurl unit 225 %}"/>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </td>
            <td>
                <h3>Категории</h3>

                {% tree object_map.CategoryList|astree:"items,categoryid,parentcategoryid" %}
                    <a href="{% url 'laximo:vehicle_unit_list' c.object_map.CatalogInfo.code c.object_map.Vehicle.vehicleid %}?category_id={{ item.categoryid }}&ssd={{ item.ssd }}">
                        {{ item.name }}
                    </a>
                {% endtree %}

            </td>
        </tr>
        {% endwith %}
    </table>
{% endblock %}