{% extends 'laximo/base.html' %}
{% load laximo_tags %}

{% block content %}
    <h2>Уточните характеристики автомобиля</h2>
    <form action="{% url 'laximo:vehicle_unit_list' object_map.CatalogInfo.code object_map.Vehicle.vehicleid %}">
        {{ form.as_p }}
        <a href="{% url 'laximo:vehicle_unit_details' object_map.CatalogInfo.code object_map.Vehicle.vehicleid object_map.Unit.unitid %}?ssd={{ current_ssd }}&category_id={{ current_category }}">
            Пропустить выбор
        </a>
        <input type="submit" value="Подтвердить">
    </form>
{% endblock %}