{% extends 'laximo/base.html' %}
{% load laximo_tags %}

{% block content %}
    <a href="{% url 'laximo:vehicle_unit_list' object_map.CatalogInfo.code object_map.Vehicle.vehicleid %}?ssd={{ current_ssd }}">Поиск
        по изображениям</a>

    {% if not object.categories %}
        Ничего не найдено, воспользуйтесь иллюстрированным каталогом <- (!) для
        поиска требуемой детали
    {% endif %}

    {% for category in object.categories %}
        <section>
            <h3>
                <a href="{% url 'laximo:vehicle_unit_list' object_map.CatalogInfo.code object_map.Vehicle.vehicleid %}?ssd={{ current_ssd }}">
                    {{ category.name }}
                </a>
            </h3>
            {% for unit in category.units %}
                {# todo unit.filter & unit.flag attributes #}
                <table>
                    <tr style="vertical-align: top">
                        <td style="width: 25%">
                            <a href="{% url 'laximo:vehicle_unit_details' object_map.CatalogInfo.code object_map.Vehicle.vehicleid unit.unitid %}?ssd={{ unit.ssd }}">
                                {{ unit.code }} - {{ unit.name }}
                                <br/>
                                <img alt="{{ unit.name }}"
                                     src="{% unit_imageurl unit 225 %}"/>
                            </a>
                            <br/>
                            {{ unit.note }}
                        </td>
                        <td>
                            <table>
                                <thead>
                                <tr>
                                    <th>Номер на изображении</th>
                                    <th>OEM</th>
                                    <th>Наименование детали</th>
                                    <th>Примечание к детали</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for detail in unit.details %}
                                    <tr>
                                        <td>{{ detail.codeonimage }}</td>
                                        <td>{{ detail.oem }}</td>
                                        <td>{{ detail.name }}</td>
                                        <td>{{ detail.note }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            {% endfor %}
        </section>
    {% endfor %}

{% endblock %}