{% extends 'laximo/base.html' %}
{% load laximo_tags %}

{% block content %}
    <h2>
        Автомобиль {{ object_map.CatalogInfo.name }} {{ object_map.Vehicle.name }}</h2>

    <a href="{% url 'laximo:vehicle_unit_list' object_map.CatalogInfo.code object_map.Vehicle.vehicleid %}?ssd={{ current_ssd }}">Поиск
        по изображениям</a>

    <h3>Группы быстрого поиска</h3>

    {% tree object %}
        {% with catalog=c.object_map.CatalogInfo vehicle=c.object_map.Vehicle %}
            {% if item.link %}
                <a href="{% url 'laximo:vehicle_quickdetails' catalog.code vehicle.vehicleid item.quickgroupid %}?ssd={{ c.current_ssd }}">
                    {{ item.name|capfirst }}
                </a>
            {% else %}
                <span>{{ item.name }}</span>
            {% endif %}
        {% endwith %}
    {% endtree %}
{% endblock %}