{% extends 'laximo/base.html' %}
{% load laximo_tags %}

{% block content %}
    <h2>Узел {{ object.code }}: {{ object.name }}</h2>
    <div>{{ object.note }}</div>

    <a href="{% url 'laximo:vehicle_quickgroups' object_map.CatalogInfo.code object_map.Vehicle.vehicleid %}?ssd={{ current_ssd }}">
        Поиск по группам
    </a>

    <table id="unit-map-container">
        <tr style="vertical-align: top;">
            <td style="width: 50%">
                <img id="unit-img" usemap="#unit-map"
                     src="{% unit_imageurl object %}" alt="{{ object.name }}"/>
            </td>
            <td style="width: 50%">
                <div style="max-height: 800px; overflow: auto;">
                    <table>
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>OEM</th>
                            <th>Наименование детали</th>
                            <th>Примечание</th>
                            <th>Кол-во</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in object_map.DetailList.items %}
                            <tr class="item" id="item{{ item.codeonimage }}"
                                data-code="{{ item.codeonimage }}">
                                <td>{{ item.codeonimage }}</td>
                                <td>
                                    {% if item.filter %}
                                        <a href="#">Уточнить параметры</a>
                                    {% else %}
                                        {{ item.oem }}
                                    {% endif %}
                                </td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.note }}</td>
                                <td>{{ item.amount }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <map style="display: none" name="unit-map" id="unit-map">
                    {% for emph in object_map.ImageMapList.items %}
                        <area id="area{{ emph.code }}" shape="rect"
                              data-code="{{ emph.code }}"
                              data-type="{{ emph.type }}"
                              coords="{{ emph.x1 }},{{ emph.y1 }},{{ emph.x2 }},{{ emph.y2 }}"
                              href="#" alt="{{ emph.code }}">
                    {% endfor %}
                </map>
            </td>
        </tr>
    </table>
    </div>
{% endblock %}