{% extends 'laximo/base.html' %}

{% block content %}
    <h2>Найденные модификации автомобиля {{ object_map.CatalogInfo.name }}</h2>
    <table>
        <thead>
        <tr>
            <th>Бренд</th>
            <th>Название</th>
            <th>Опции</th>
            <th>Описание</th>
            <th>Модель</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% if not object.items %}
            <tr>
                <td colspan="2">Ничего не найдено</td>
            </tr>
        {% endif %}

        {% for item in object.items %}
            <tr>
                <td>
                    {{ item.brand }}
                </td>
                <td>
                    {{ item.name }}
                </td>
                <td>
                    {{ item.options }}
                </td>
                <td>
                    {{ item.description }}
                </td>
                <td>
                    {{ item.model }}
                </td>
                {% with catalog_code=object_map.CatalogInfo.code|default:item.catalog %}
                <td>
                    <a href="{% url 'laximo:vehicle_quickgroups' catalog_code item.vehicleid %}?ssd={{ item.ssd }}"
                       class="btn btn-orange">
                        Выбрать
                    </a>
                </td>
                {% endwith %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include 'laximo/forms/catalog_formset.html' with catalog=object_map.CatalogInfo form=form %}

{% endblock %}