{% if catalog %}
    {% if form.description %}<h3>{{ form.description }}</h3>{% endif %}
    <form action="{% url 'laximo:catalog_vehicle_list' catalog.code %}?f={{ form.name }}">
        {{ form.as_p }}
        <input type="hidden" name="f" value="{{ form.name }}"/>
        <button type="submit">OK</button>
    </form>
{% endif %}