{% if form.description %}
    <h3>{{ form.description }} ({{ catalog.brand }})</h3>{% endif %}

<form id="wizard-form"
      action="{% url 'laximo:wizard' catalog.code %}">
    {{ form.as_p }}
</form>

{% if object_map.Wizard.ready %}
    <a href="{% url 'laximo:catalog_vehicle_list' catalog.code %}?ssd={{ current_ssd }}&f={{ form.name }}">
        Показать автомобили
    </a>
{% endif %}
