.unit-map-container .scrolling,
.unit-map-container .scrolling img {
    cursor: move; /* fallback */
    cursor: all-scroll;
}

.unit-map-container .highlighted {
    text-decoration: underline;
}

.unit-map-container .selected {
    text-decoration: underline;
}
